.cloud/*
.storage/*
deps/*
tts/*

.HA_VERSION
.uuid
secrets.yaml
known_devices.yaml
entity_registry.yaml

*.pickle
*.conf
*.json
*.log
*.db

options.xml
OZW_Log.txt
pyozw.sqlite
zwcfg_0xcce5c893.xml
zwscene.xml
appdaemon/apps/__pycache__/*
appdaemon/appdaemon.yaml


custom_components/hacs/*
www/community/*